body {
	max-width: 1180px;
	margin: 0 auto;
	font-family: Sans-serif;
	background: #ededed;
}

.b-logo {
	text-align: center;
	line-height: 50px;
	padding:2%;
}

.b-flex-container {
	display: flex;
	justify-content: space-around;
}

.b-head-button {
	background: #FFF9E7;
	cursor: pointer;
	border: 1px solid #dbbf6f;
	border-radius: 4px;
	height: 25px;
	width: 70px;
	outline: none;
	box-shadow: inset 0px 0px 10px -1px rgb(234, 207, 131);
}

.b-head-input {
	box-shadow: 1px 1px 0px 0px rgba(173,173,173,0.55);
	border: none;
	border-radius: 1px;
	height: 22px;
	vertical-align: top;
	margin-top: 1px;
	outline: none;
	padding: 0;
	width: 160px;
}

.b-samples {
	margin-top: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

.b-sample__item {
	flex-basis: 266px;
	background-color: #FFFFFe;
	margin: 5px 2% 10px 2%;
	border-radius:3px;
	box-shadow: 2px 2px 3px 0px rgba(173,173,173,0.75);
	border: 2px solid #FFFFFe;
	border-radius: 3px;
	position: relative;
	min-height: 86px;
	padding: 15px 6px 6px 10px;
}

.text-area-update {
	width: 100%;
	border: 1px solid #83a4c1;
	padding: 2px;
	font-size: 16px;
	margin-left: -3px;
	margin-top: -3px;
	font-family: Sans-serif;
	resize: vertical;
	outline-color: #83a4c1;
	height: 60px;
}

.choosen {
	border: 2px solid #eddfb7;
	border-radius: 3px;
	content: '#';
}

.action-button {
	border: 1px solid #d1a623;
	background: #FFF9E7;
	font-weight: bold;
	cursor: pointer;
	font-size: 10px;
  box-shadow: inset 0px 0px 3px 0px rgb(234, 207, 131);
  width: 50px;
}

.delete-button {
	position: absolute;
	top:-8px;
	right:-7px;
}

.update-button {
	position: absolute;
	top: -8px;
	right: 50px;
}

.apply-button {
	position: absolute;
	top: -8px;
	right: 50px;
	z-index: 100;
}

.err404 {
	margin-top: 2%;
	height:400px;
	background: url("../images/gopher.png") no-repeat center bottom ;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.err404 p {
	padding: 1%;
}

.remove {
	display: none;
}

footer {
	min-height: 150px;
}

* {
	box-sizing: border-box;
}

@media (max-width: 575px) {
	.b-flex-container {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.b-add-sample {
		margin: 2px;
	}
	.b-search {
		margin: 2px;
	}
	.b-sample__item {
		flex-grow: 1;
		min-height: 70px;
	}
	.text-area-update {
		height: 44px;
	}
}